*.pdf
*.bmp
ArrivalTimesAnalysis/Debug/
*.root
*.csv
*.txt
*.list
Kalibration/Reading/data/
Kalibration/Reading/save/
MaskAnalysis/maskfile
*.png
SumAnalysis/sumfile
LightYield/pe_dist
Kalibration/Auswertung/MaskAnalysis/.vscode/
Kalibration/Auswertung/.vscode/settings.json
DarkCounts/CSV/
ArrivalTimesAnalysis/dataMap.psd
Kalibration/Auswertung/baseline_September2019.tar
Kalibration/cal_fit_routine/.DS_Store
Kalibration/cal_fit_routine/fit_charge
Kalibration/cal_fit_routine/fit_amp
Kalibration/cal_fit_routine/calib_histograms/.DS_Store
Kalibration/Mai2019Save/baseline_Mai2019.tar
Kalibration/Mai2019Save/fit_amp
Kalibration/Mai2019Save/fit_charge
Kalibration/Reading/CERNTestBeam2018.runlist
Kalibration/Reading/read
Kalibration/Reading/readFast
Kalibration/Reading/readFull
Kalibration/Reading/mergeROOTFiles
Kalibration/Reading/runlist
LightYield/.vscode/settings.json
Kalibration/cal_fit_routine_2.zip
LightYield/pe_dist
MaskAnalysis/maskfile
GainFit/fit_charge_new
GainFit/fit_charge
